version: '3'

services:
  web:
    build: .
    env_file: .env
    command: bash -c "python manage.py makemigrations && python manage.py migrate && python manage.py loaddata dump.json && python manage.py runserver 0.0.0.0:8000"
    container_name: newsite
    volumes:
      - .:/newsite
    ports:
      - "8000:8000"

